

/* General */

    body.content_type_clase_piedrasantademo {
        font-size: 1.8rem;
    }

    body.content_type_clase_piedrasantademo #actividad .content img {
        padding: 5px;
    }


    .is_app.content_type_clase_piedrasantademo {
        padding-top: 0px;
    }

    .content_type_clase_piedrasantademo #actividad {
        margin-bottom: 0px;
        -webkit-transform: none;
        -webkit-transform-style: flat;
    }

    #actividad .carousel-inner .item-container {
        background-image: none;
        margin: 20px auto 30px;
        padding: 0px;
        padding-bottom: 90px;
        position: relative;
    }


    #indice .units ul li.active:not(.disabled) {
    background-color: #F6323E;
    }

    .content_type_clase_piedrasantademo #actividad .slide-concatenate {
        margin-top: 30px;
    }

    .content_type_clase_piedrasantademo #actividad .content .header .title img,
    .content_type_clase_piedrasantademo #actividad .content .header .chapter {
        display: none;
    }

    #indice .units ul li {
    padding: 0;
    border-radius: 0px;
}

    #indice .units ul li a .number,
    #indice .unit-content .header .number
     {
        visibility: hidden;
    }

    .content_type_clase_piedrasantademo #actividad .content .header {
        border: none;
        margin-bottom: 0;
    }

/*Material de apoyo*/

#indice .unit-content .material .item .imagen.img:before {
    background-color: #FFBF3B;
    background-image: none;
}


#indice .unit-content .material .item .imagen.musica:before {
    background-color: #FFBF3B;
    background-image: none;
}

#indice .unit-content .material .item .imagen.video:before {
    background-color: #FFBF3B;
    background-image: none;
}


#indice .unit-content .material .item .imagen.archivo:before {
    background-color: #FFBF3B;
    background-image: none;
}

#indice .unit-content .material .item .imagen.actividad:before {
    background-color: #FFBF3B;
    background-image: none;
}

#indice .unit-content .material .item .imagen.url:before {
    background-image: none;
    background-color: #ffbf3b;
}

#indice .unit-content .material .item .imagen.libro:before {
    background-image: none;
    background-color: #ffbf3b;
}

/**/
.btn-primary.disabled {
    color: #F6323E;
    background-color: #fff;
    border-color: transparent;
    opacity: 1;
}

/*text img*/
#indice .unit-content .header .title {
        padding: 5px 10px;
    background: #ffffffc4;
    color: #444;
    float: left;
    font-size: 20px;
    font-weight: normal;
    height: auto;
    line-height: 34px;
    margin: 80px 0px 20px 0px;
    overflow: hidden;
    z-index: 1;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*Numero intentos*/

#actividad .content .review .attemps span {
    width: 35px;
    height: 35px;
    font-weight: 700;
    color: #fff;
    background-color: #F5821F;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    padding: 6px 12px;
    margin: 0 3px;
    display: inline-block;
    line-height: 24px;
}

/*logo*/
    .content_type_clase_piedrasantademo #actividad .content .header .title:before {
    content: " ";
    background: url(imagenes/logopiedrasanta.png);
    padding: 30px 64px;
    position: absolute;
    right: 22px;
    background-size: contain;
    background-repeat: no-repeat;
}
    .content_type_clase_piedrasantademo #actividad .content .header .title {
    margin: -40px 0 20px;
    background: #fff;
    width: 80%;
    padding: 20px 97px;
    margin-bottom: 40px;
}

    .content_type_clase_piedrasantademo #actividad .content .slide-concatenate .header .title {
        display: none;
    }

    .content_type_clase_piedrasantademo #actividad .content .header .title h3 {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: right;
    }

    .content_type_clase_piedrasantademo #actividad .content .header .title h3 span {
        float: left;
        font-size: 1.8rem;
        font-weight: 900;
        line-height: 1.1rem;
    }

    .content_type_clase_piedrasantademo #actividad .slide_content_type_1 .pregunta .texto_curso,
    .content_type_clase_piedrasantademo #actividad .texto_curso,
    .html-book {
        font-size: 1.8rem;
    }

    .texto_curso p:last-of-type {
        margin-bottom: 15px;
    }

    .content_type_clase_piedrasantademo #actividad .texto_curso li,
    .content_type_clase_piedrasantademo #actividad .workspace ul li li {
        margin-bottom: 10px;
    }

    #actividad .class_slide {
        padding: 40px 0 0;
    }

    #actividad .class_slide:last-of-type {
        padding-bottom: 0px;
    }

    #actividad .slide-concatenate .class_slide {
        padding-bottom: 20px;
    }

    #actividad .slide-concatenate:last-of-type .class_slide {
        padding-bottom: 100px;
    }

    .content_type_clase_piedrasantademo .slide_main {
        padding: 0 97px;
    }

    @media screen and (max-width: 480px) {
        .content_type_clase_piedrasantademo .slide_main {
            padding: 0 35px;
        }
    }

    .content_type_clase_piedrasantademo .slide_main input,
    .content_type_clase_piedrasantademo .slide_main .img-input-container {
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
             box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
    }

    .content_type_clase_piedrasantademo .slide_main input:focus,
    .content_type_clase_piedrasantademo .slide_main .img-input-container:focus {
        border-top-color: #3AC62A;
        border-right-color: #3AC62A;
        border-bottom-color: #3AC62A;
        border-left-color: #3AC62A;
        outline-width: 0px;
        outline-style: none;
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
           -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
    }

    .content_type_clase_piedrasantademo .slide_main input[disabled],
    .content_type_clase_piedrasantademo .slide_main input[readonly],
    fieldset[disabled] .content_type_clase_piedrasantademo .slide_main input,
    .content_type_clase_piedrasantademo .slide_main .img-input-container {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

    .content_type_clase_piedrasantademo .slide_main .img-input-container input[readonly],
    .content_type_clase_piedrasantademo .slide_main .img-input-container input[disabled] {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .content_type_clase_piedrasantademo .slide_main input.respuesta_ok,
    .content_type_clase_piedrasantademo .slide_main .img-input-container.respuesta_ok {
        border-color: #57e900;
        background: #D1F3BD;
    }

    .content_type_clase_piedrasantademo .slide_main input.respuesta_ko,
    .content_type_clase_piedrasantademo .slide_main .img-input-container.respuesta_ko {
        border-color: #FF3626;
        background: #FFA49D;
    }

    .content_type_clase_piedrasantademo .slide_main input.solucion,
    .content_type_clase_piedrasantademo .slide_main .img-input-container.solucion {
        border-color: #00BDFF;
        background: #B6ECFF;
    }

    .zoom_flag_img {
        top: 15px;
        right: 15px;
    }
/**/

/* Navbar */
    .navbar-bottom {
        background: #bbbbbb;
        padding-left: 100px;
        padding-right: 100px;
    }

    .logo-publisher {
        display: none;
    }

    @media only screen and (max-width: 640px) {
        .navbar-bottom {
            padding-left: 40px;
            padding-right: 40px;
        }

        .logo-publisher {
            width: 40px;
            background-image: url(Pearson-logo-2016-219x286.png);
        }
    }

    .slider-indicators {
        padding-left: 0px;
        padding-right: 0px;
        white-space: nowrap;
    }
    .edit .slider-indicators {
        white-space: normal;
    }
    .slider-indicators li,
    .edit .slider-indicators li {
        background-color: #ffffff;
        color: #005840;
    }

    .slider-indicators .active,
    .edit .slider-indicators .active,
    .slider-indicators li:hover,
    .edit .slider-indicators .concat.active,
    .slider-indicators .active {
        background-color: #007FA3;
        color: #ffffff;
    }

    .edit .slider-indicators .concat.active:before {
        background-color: #007FA3;
    }

    #bottom-navigator {
        overflow: hidden;
        position: relative;
    }
    #bottom-navigator .slider-indicators {
        margin-left: auto;
        margin-right: auto;
    }
    #bottom-navigator .slider-indicators:after {
        content: '';
        display: table;
        clear: both;
    }
    #bottom-navigator li {
        width: 18px;
        height: 18px;
        margin: 2px 5px;
        background: #333D47;
        color: transparent;
        line-height: 2.2rem;
        font-size: 1.8rem;
        font-weight: bold;
        text-indent: initial;
    }
    #bottom-navigator li:hover {
        background: #F5821F;
        color: transparent;
    }
    #bottom-navigator li.active {
        background: #F5821F;
        color: transparent;
    }
    #bottom-navigator.show_left:before {
        content: '\F053';
        font-family: 'FontAwesome';
        position: absolute;
        left: 0;
        z-index: 100;
        color: #ffffff;
        top: 10px;
        height: 35px;
        line-height: 5.4rem;
        width: 20px;
        text-align: left;
        background: -webkit-gradient(linear, left top, right top, from(#132E4C), to(transparent));
        background: -webkit-linear-gradient(left, #132E4C, transparent);
        background: -moz-linear-gradient(left, #132E4C, transparent);
        background: -o-linear-gradient(left, #132E4C, transparent);
        background: linear-gradient(to right, #132E4C, transparent);
    }

    #bottom-navigator.show_right:after {
        content: '\F054';
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
        color: #ffffff;
        top: 10px;
        height: 35px;
        line-height: 5.4rem;
        width: 20px;
        text-align: right;
        background: -webkit-gradient(linear, right top, left top, from(#132E4C), to(transparent));
        background: -webkit-linear-gradient(right, #132E4C, transparent);
        background: -moz-linear-gradient(right, #132E4C, transparent);
        background: -o-linear-gradient(right, #132E4C, transparent);
        background: linear-gradient(to left, #132E4C, transparent);
    }

/**/

/*Enlaces*/

a:hover, a:active, a:focus {
    color: #F6323E;
}

/*TITULO 1*/



/* Lists */

.texto_curso ul li,
.workspace ul li ul li,
.cke_contents ul li {
    padding-left: 30px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before {
    width: 4px;
    height: 4px;
    background-color: #414141;
}

.content .bck-ol,
.cke_contents .bck-ol,
.content ol,
.cke_contents ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: bck-li-counter;
}

.content .bck-ol li,
.cke_contents .bck-ol li,
.content ol li,
.cke_contents ol li {
    list-style-type: none;
    padding-left: 28px;
    margin-bottom: 16px;
    counter-increment: bck-li-counter;
    position: relative;
    line-height: 1.1rem;
}

.content .bck-ol1 li:before,
.cke_contents .bck-ol1 li:before,
.content ol li:before,
.cke_contents ol li:before {
    content: counter(bck-li-counter);
    position: absolute;
    top: -2px;
    left: -3px;
    display: block;
    width: 24px;
    height: 24px; 
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.5rem;
    box-shadow: none;
    border: 0px solid #022321;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #00A99D;
}


/*LISTA DESORDENADA POR DEFECTO*/

.texto_curso ul li:before, .workspace ul li ul li:before, .cke_contents ul li:before {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

/*CAJAS*/

.bck-box .bck-content p:last-child {
    margin-bottom: 0;
}

/*Caja 1*/

.bck-box1 {
    margin: 10px;
    border: 2px solid #00A99D;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    padding: 16px;
}




/*TABLA POR DEFECTO*/

.content table:not(.rf-tablegrid) td,
.content table:not(.rf-tablegrid) th {
    border: 3px solid #fff;
    padding: 10px;
    background: #D4EAE4;
}

.content table:not(.rf-tablegrid) {
    border: 1px solid #F37731;
    margin-bottom: 20px;
}

/* Icons */

#actividad .player.audio, 
#actividad .player.video, 
#help-panel-content .player, 
#remote-alert-modal-rich .player {
    height: 28px !important;
    width: 28px;
    display: inline-block;
    background-color: #00a99d;
    background-image: url(../../../images/shared/multimedia-icons.png);
    background-repeat: no-repeat;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 5px;
    vertical-align: sub;
}

.item-container .icon:before {
    content: "";
    background-repeat: no-repeat;
    -webkit-background-size: auto 100%;
       -moz-background-size: auto 100%;
         -o-background-size: auto 100%;
            background-size: auto 100%;
    background-position: center center;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 54px;
    margin-top: -16px;
}

.item-container .icon-draw:before {
    background-image: url(images/Icon_draw.png);
}

.item-container .icon-write:before {
    background-image: url(images/Icon_write.png);
}

.item-container .icon-speaking:before {
    background-image: url(images/Icon_speaking.png);
}

.item-container .icon-reading:before {
    background-image: url(images/Icon_reading.png);
}

.item-container .icon-star:before {
    background-image: url(images/Icon_star.png);
}

/* Forms */

.content_type_clase_piedrasantademo .slide_main input,
.content_type_clase_piedrasantademo .slide_main .img-input-container {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
       -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
            box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    border: 0px solid #ccc;
    border-bottom: 2px dashed #00A99D;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.content_type_clase_piedrasantademo .slide_main .fill-text .img-input-container {
    display: none;
}

.content_type_clase_piedrasantademo .slide_main input:focus,
.content_type_clase_piedrasantademo .slide_main .img-input-container:focus {
    border-top-color: #10A0C6;
    border-right-color: #10A0C6;
    border-bottom-color: #10A0C6;
    border-left-color: #10A0C6;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
}

/* Slides */

#actividad .workspace.multiple-choice .opcion,
#actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok),
#actividad .workspace.ordenar .js-rank-item {
    border-width: 2px;
    border-color: #10A0C6;
    border-style: solid;
    background: #fff;
    border: 2px dashed #00A99D;
}

#actividad .workspace.matching .opciones .opcion.emparejado.destino {
    border-width: 2px 2px 2px 0;
}

#actividad .workspace.matching .opciones .opcion.emparejado.origen {
    border-width: 2px 0 2px 2px;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0px solid #d8d8d8;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #10A0C6;
    padding-top: 10px;
}

.fillblanks-draggable-wrapper .response {
    border: 0px solid #d8d8d8;
    background: #ffbf3b;
}

.fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper {
    padding: 0;
}

body.content_type_clase_piedrasantademo #actividad .content .fillblanks-draggable-wrapper
.response .bck-i-fullscreen,
body.content_type_clase_piedrasantademo #actividad .content .fillblanks-draggable
.img-input-container.imgFilled img {
    width: auto;
    height: 100px !important;
    padding: 0;
}

body:not(.isTablet) #indice .units ul li:hover:not(.disabled), 
#indice .units ul li:focus:not(.disabled) {
    background: #F5821F;
}
